.favori-container{
    padding: 0 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-item{
    line-height: 40px;
}
.table-city{
    font-weight: 600;
}
.table-city span{
    font-weight: 200;
    font-size: 14px;
    margin-left: 3px;
}
.table-degree{
    font-weight: 500;
}